* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	min-height: 100vh;
	background: #6c5ce7;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
/* General styling */
.wrapper {
	padding: 30px;
	margin: 50px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 2%;
	text-align: center;
}
.wrapper .title {
	font-weight: 800;
	text-align: center;
	font-size: 2rem;
	color: #111;
}
.wrapper button {
	margin: 12px;
	padding: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
}

/* Main Page */
.wrapper #task-display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(50px, auto);
	padding: 10px;
	margin: 40px;
	text-align: center;
}

#task-display {
	border: solid;
	border-radius: 12px;
}

#status {
	grid-column: 1/1;
	grid-row: 1/2;
	align-self: center;
	width: 40px;
	height: 20px;
}
#created {
	grid-column: 3/4;
	grid-row: 1/1;
	padding-top: 10px;
}
#task-title {
	grid-row: 2/2;
	grid-column: 1/4;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

#description {
	grid-row: 3/3;
	grid-column: 1/4;
}
/* Edit button */
#task-display a button {
	margin-right: 10px;
	padding: 12px;
	border-radius: 12px;
}
#edit-btn {
	grid-row: 4/4;
	grid-column: 2/3;
}

/* Edit Page */

.error {
	background: brown;
	color: cornflowerblue;
}

.wrapper .inputFields {
	margin: 25px;
}
.wrapper .inputFields textarea {
	font-size: large;
	width: 100%;
	padding: 12px;
}
.wrapper .inputFields input[type="text"] {
	font-size: medium;
	width: 100%;
	padding: 12px;
}

.wrapper .inputFields button.btn {
	height: 100%;
	border-radius: 12px;
	font-size: medium;
}
